{
    "presets": [
      "next/babel",
      "@zeit/next-typescript/babel"
    ],
    "plugins": [
      [
        "module-resolver",
        {
          "root": [
            "./"
          ],
          "alias": {
            "@Interfaces": "./src/Interfaces",
            "app": "./src/app",
            "shared": "./src/modules/shared",
            "todo-list": "./src/modules/todo-list"
          }
        }
      ],
      [
        "babel-plugin-styled-components",
        {
          "ssr": true,
          "displayName": true,
          "preprocess": false
        }
      ],
      [
        "import",
        {
          "libraryName": "antd"
        }, "ant"
      ],
      [
        "import",
        {
          "libraryName": "react-feather",
          "libraryDirectory": "dist/icons"
        },
        "react-feather"
      ]
    ]
}
